<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464781890061-8s5soadchqvjbk36h7j0mlq24psun38a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464781890061-8s5soadchqvjbk36h7j0mlq24psun38a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>464781890061-kuifr8gnf9l6a4ran64s10ni5j6e8286.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJPytBprmqG7mJ2pYPGzsfK0RkLKXZ0QA</string>
	<key>GCM_SENDER_ID</key>
	<string>464781890061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yey</string>
	<key>PROJECT_ID</key>
	<string>yeydemo-71dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>yeydemo-71dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464781890061:ios:daf40b415ab64248a3fb44</string>
</dict>
</plist>